
/* this is to chnage the color of the text on the website */
body {
    color: rgb(255, 255, 255);
  }
  
  body {
    background-color: rgb(105, 105, 109);
  }
  
  body {
    text-align: center;
  }
  
  body {
    font-size: 20px;
  }
  